<footer class="footer">
	<span>© 2024 <a href="http://localhost:1313/">Posts</a></span
	><span style="display: inline-block; margin-left: 1em">
		<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>
	</span>
	<span style="display: inline-block; margin-left: 1em">
		<a href="https://buymeacoffee.com/nehemia" rel="noopener noreferrer" target="_blank">Buy me coffee</a>
	</span>
	<span style="display: inline-flex; margin-left: 1em; gap:4px"> Find an issue with this page? {{ partial "repository-link.html" (dict "action" "edit" "page" .) }} </span>
</footer>
